@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes wave {
  0% {
    d: path("M0,10 C25,-5 25,25 50,10 C75,-5 75,25 100,10 C125,-5 125,25 150,10 C175,-5 175,25 200,10");
  }
  50% {
    d: path("M0,10 C25,25 25,-5 50,10 C75,25 75,-5 100,10 C125,25 125,-5 150,10 C175,25 175,-5 200,10");
  }
  100% {
    d: path("M0,10 C25,-5 25,25 50,10 C75,-5 75,25 100,10 C125,-5 125,25 150,10 C175,-5 175,25 200,10");
  }
}

.animate-wave {
  animation: wave 2s ease-in-out infinite;
}

@theme inline {
  --color-image-compression: #3a7859;
  --color-pulse: #D53F3F;
  --color-roadar: #082A74;
  --color-context: #107db6;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Satoshi', system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', system-ui, sans-serif;
}
